/** NOTA: Gli obiettivi sono scritti nell'ordine cronologico in cui li ho effettuati, nominati con l'ordine nel foglio README **/

/* Secondo obiettivo: prendere il colore background dell'header per cambiare lo sfondo della terza carta statistiche 
	figlio di .stats-container (stats-grid) */

.stats-grid:last-child {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.stats-grid:last-child * {
	color:white;
}

/* Quarto obiettivo: cambiare il colore del secondo workout-plan 
	- volevo farlo in modo diverso; non ce l'ho fatta :( - */

.workout-plan:nth-child(3) {
    background: #FFF8BA;
    border-left: 5px solid orange;
}

/* Quinto obiettivo: bordi e background verdi per il primo e ultimo esercizio */

.section-title + div > .exercise-item:first-child {
	background: #F0FFF4;
	border-left: 5px solid lightgreen;
}

.section-title + div > .exercise-item:last-child {
	background: #F0FFF4;
	border-left: 5px solid lightgreen;
}

/* Terzo obiettivo: effetto hover sulle stat-cards */

.stats-container > div:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

/* Primo obiettivo: aggiungere emoji alla prima card */

.stats-grid:first-child::before {
    content: "🔥";
    display: block;
    transform: scale(1.5);
}

/* Sesto obiettivo: aggiungere emoji all'inizio del nome degli esercizi in posizione pari (2° e 4°) 
    - ho chiaramente esagerato nella specificità nel quinto obiettivo*/

.exercise-item:nth-child(even):before {
    content: "⚡";
}

/* Ricorda: \201C open" \201D closed" */