/** NOTA: Gli obiettivi sono scritti nell'ordine cronologico in cui li ho effettuati, nominati con l'ordine nel foglio README **/

/* Secondo obiettivo: prendere il colore background dell'header per cambiare lo sfondo della terza carta statistiche 
	figlio di .stats-container (stats-grid) */

.stats-grid:last-child {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.stats-grid:last-child * {
	color:white;
}

/* Quarto obiettivo: cambiare il colore del secondo workout-plan 
	- volevo farlo in modo diverso; non ce l'ho fatta :( - */

.workout-plan:nth-child(3) {
    background: #FFF8BA;
    border-left: 5px solid orange;
}

/* Quinto obiettivo: cambiare il background del primo e dell'ultimo div contenuti nel div contenuto nel nulla cosmico */

.section-title + div > .exercise-item:first-child {
	background: #F0FFF4;
	border-left: 5px solid lightgreen;
}

.section-title + div > .exercise-item:last-child {
	background: #F0FFF4;
	border-left: 5px solid lightgreen;
}

/* Quarto obiettivo: effetto hover sulle stat-cards */