/** NOTA: Gli obiettivi sono scritti nell'ordine cronologico in cui li ho effettuati, nominati con l'ordine nel foglio README **/

/* Secondo obiettivo: prendere il colore background dell'header per cambiare lo sfondo della terza carta statistiche 
	figlio di .stats-container (stats-grid) */

.stats-grid:last-child {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.stats-grid:last-child * {
	color:white;
}

/* Quarto obiettivo: cambiare il colore del secondo workout-plan 
	- volevo farlo in modo diverso; non ce l'ho fatta :( - */

.workout-plan:nth-child(3) {
    background: #FFF8BA;
    border-left: 5px solid orange;
}

/* Quinto obiettivo: bordi e background verdi per il primo e ultimo esercizio */

.section-title + div > .exercise-item:first-child {
	background: #F0FFF4;
	border-left: 5px solid lightgreen;
}

.section-title + div > .exercise-item:last-child {
	background: #F0FFF4;
	border-left: 5px solid lightgreen;
}

/* Terzo obiettivo: effetto hover sulle stat-cards */

.stats-container > div:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}

/* Primo obiettivo: aggiungere emoji alla prima card */

.stats-grid:first-child::before {
    content: "🔥";
    display: block;
    transform: scale(1.5);
}

/* Sesto obiettivo: aggiungere emoji all'inizio del nome degli esercizi in posizione pari (2° e 4°) 
    - ho chiaramente esagerato nella specificità nel quinto obiettivo*/

.exercise-item:nth-child(even):before {
    content: "⚡";
}

/* Settimo-ottavo obiettivo: mettere bordi blu e ombre a input e select quando in focus */

input:focus, select:focus {
    outline: none;
    border: 2px solid grey;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    transition: 0.1s;
}

/* Nono obiettivo: save button deve alzarsi di 2px durante hover, cambiare sfondo */

.save-btn:hover {
    transform: translateY(-2px);
    background: #7d8edb;
    box-shadow: 0 2px 10px rgb(0, 0, 165);
    transition: 0.2s;

}

/* Decimo obiettivo: aggiungere il 65% alla barra allineato a destra ù
    -domanda: perchè non riesco a farlo apparire davanti il fill, anche usando z-index?*/

.progress-fill::after {
    content: "65%";
    position: absolute;
    top: -70%;
    right: 5px;
    transform: scale(0.7);
    color: white;
}

/* Undicesimo obiettivo: aggiungere effetto hover sui link di navigazione (sfondo più scuro e testo blu) */

.nav-item:hover {
    background:#202D3B;
    color: blue;
}

.nav-item:active {
    background: #3A5169;
}

/* Dodicesimo obiettivo: link home deve apparire sempre attivo */

.nav-item:first-child {
    background: #3A5169;
}

/* Tredicesimo obiettivo: aggiungere virgolette alla citazione con opacità ridotta */

.quote-box p::before {
    content: "\201C";
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 10px;
    transform: scale(3);
    opacity: 0.5;
}

.quote-box p::after {
    content: "\201D";
    display: inline-block;
    position: absolute;
    top: 40%;
    right: 15px;
    transform: scale(3);
    opacity: 0.5;
}